
<div style="text-align:center">
  <h1>
    Лабораторная работа 6
  </h1>
  <h2>Воротнев Николай</h2>
</div>

<p *ngFor="let sensor of sensors; let i = index">
  <span [ngClass]="{'green':sensorActive[i]==true, 'red':sensorActive[i]==false}">
    {{sensors[i]}}
  </span>
  <button (click)="onDeleteSensor(i)">Удалить</button>
</p>
<h3>Добавить датчик</h3>
<input class="form-control" type="text" [(ngModel)]="name" placeholder="Название">
<select name="Статус" [(ngModel)]="active">
  <option value=true selected>Активен</option>
  <option value=false>Неактивен</option>
</select>
<button (click)="addSensor(name, active)">Добавить</button>

<style>
  span {
    font-size: 20px;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
</style>
